* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  .container {
    background-color: #f5f9fc;
    text-align: center;
    padding: 40px 20px;
  }
  
  .contact-title {
    color: yellow;
    letter-spacing: 1px;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .showroom-title {
    font-size: 26px;
    color: white;
    margin-bottom: 8px;
  }
  
  .subtitle {
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  /* Carousel */
  .carousel {
    position: relative;
    width: 80%;
    max-width: 1030px;
    margin: 0 auto 50px;
  }
  
  .carousel-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #00b0f0;
    border: none;
    color: white;
    font-size: 24px;
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  .arrow:hover {
    background: #007bb8;
  }
  
  .arrow.left {
    left: -50px;
  }
  
  .arrow.right {
    right: -50px;
  }
  
  /* Map and contact */
  .map-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
  }
  
  .map-container {
    flex: 1 1 400px;
    min-height: 650px;
  }
  
  .map-container iframe {
    width: 650px;
    height: 300px;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
  
  .contact-info {
    flex: 1 1 350px;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 25px;
    text-align: left;
    color: #0b3756;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #01AEE7;
  }
  
  .contact-info p {
    margin-bottom: 8px;
    font-size: 14px;
  }
  
  .contact-info a {
    color: #00b0f0;
    text-decoration: none;
  }
  
  .hours {
    color: #00b0f0;
    font-weight: 600;
    margin-top: 15px;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .arrow.left {
      left: 10px;
    }
    .arrow.right {
      right: 10px;
    }
    .map-section {
      flex-direction: column;
    }
    .contact-info {
      text-align: center;
    }
  }
  
  .blue{
    background-color: #01AEE7;
  }